.navbar{
    background-color: rgba(224, 103, 224, 0.623);
    display: flex;
    justify-content: space-between;
    padding: 0 75px;
    cursor: pointer;
}
.nav-link {
   display: flex;
   gap: 45px;
   
}
.logo-p{
    font-style: italic;
    font-size: larger;
    color: yellow;
    padding: 0;
}
.logo-p:hover{
    color: aliceblue;
}


.nav-link a {
color:white;
text-decoration: none;

}
.nav-link a:hover{
    color: purple;
}
.a{
    text-decoration: none;
}